<html>
<header>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <title>Cost Explorer</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'costexplorer/list.css' %}" />
    <style>
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      
    </style>
</header>

<body>
  <div id="header">
      <div class="col-sm-2">
        {% block sidebar %}
          <ul class="sidebar-nav">
            <li><a href="{% url 'patient' %}">Patients</a></li>
            <li><a href="{% url 'hospital' %}">Hospitals</a></li>
            <li><a href="{% url 'treatment' %}">Treatments</a></li>
            <li><a href="{% url 'patienttreatment' %}">Prescribe treatment</a></li>
            <!--<li><a href="">Summaries</a></li> -->
          </ul>
       {% endblock %}
        </div>
  </div>     
</body>