{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'costexplorer/table.css' %}" />

<ul class="sidebar-nav">
<li><a href="{% url 'index' %}">Home</a></li>
<li><a href="{% url 'patient_new' %}">Add Patient</a></li>
</ul>

<!-- List of patients -->
{% block content %}
  <h1>Patients</h1>
  {% if patient_list %}

    <table class="blueTable">
    <thead>
    <tr>
          <th>Patient</th>
          <th>Age</th>
    </tr>
    </thead>
    <tbody>
    {% for patient in patient_list %}  
            <tr>
              <th> <a href="/patient/{{ patient.id }}">{{patient.name}} {{patient.last_name}}</a></th>
              <th> {{patient.age}}</th>
            </tr> 
        {% endfor %}
    </tbody>
    </table>
  {% else %}
    <p>There are no patients in database.</p>
  {% endif %}       
{% endblock %}